<div class="step row">
  <div class="col-md-12">
    <h3>Your preferences</h3>
    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>

    <ul class="data-list-2 clearfix">
      <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Management: Build a Business Plan"><label>Management: Build a Business Plan</label></li>
      <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Art: Impressionist "><label>Art: Impressionist </label></li>
      <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Litteratture: Poetry"><label>Litteratture: Poetry</label></li>
      <li><input name="course_1[]" type="checkbox" class="required check_radio" value="Math: 12 Principles"><label>Math: 12 Principles</label></li>
    </ul>
  </div>
      </div><!-- end step -->