<section id="wizard_bg">
  <div class="container">
    <div id="survey_container">
      <div id="complete">
        <i class="icon-check"></i>
        <h3><%= t('.apply_complete_thank_you_for_you_time') %></h3>
        <%= link_to t('.back_to_course'), @course, class: 'btn btn-default btn-lg' %>
      </div>
    </div>
  </div>
</section>