
<li class="openable" data-target=".qa-content">
  <div class="qa-title medium bottom-spacing-sm"><i class="fa fa-question-circle text-grey" aria-hidden="true"></i> <strong><%= tr faq, :question %></strong></div>
  <div class="qa-content line-height-lg left-spacing bottom-padding" style="display: none;">
    <%= tr faq, :answer %>
  </div>
</li>

