<div class="container">
  <div class="row both-spacing bottom-padding-lg">
    <%= render 'shared/profile_sidebar' %>

    <div class="col-md-8">
      <h2 class="both-spacing"><%= t('.title') %></h2>
      <%= render 'devise/registrations/form' %>
    </div>
  </div>
</div>
