<div id="tickets" class="tickets bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <%= simple_nested_form_for @order do %>
        <%end%>
      </div>
    </div>
  </div>
</div>
