<%= simple_form_for(current_object) do |f| %>
  <div class="form-inputs">
    <%= f.input :lang %>
    <%= f.input :json, as: :json %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
