<div class="bread-crumbs-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <%=gen_course_breadcrumb "breadcrumb"%>
      </div>
    </div>
  </div>
</div>
