
<div class="swiper-container" data-autoplay="3000">
  <div class="swiper-wrapper">
    <% items.each_slice(3).to_a.each do |items_in_a_slide| %>
      <div class="swiper-slide">
        <% items_in_a_slide.each do |item| %>
          <%= render partial: item_partial, locals: {item: item} %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="normal swiper-pagination"></div>
</div>

