<div class="col-md-4">
  <ul class="nav nav-stacked sidebar--nav">
    <li>
      <%# add 'active' class to highlight the li tag %>
      <%= active_link_to t('.profile'), edit_user_registration_path %>
    </li>
    <li>
      <%= active_link_to t('.password'), edit_profile_password_path %>
    </li>
  </ul>
</div>
