<!-- Start Long Description -->
<div class="long-description light-grey-bg both-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-4 col-md-4 top-spacing-lg bottom-spacing-lg white-bg grey-border">
        <h3 class="text-center top-spacing title"><span>什麼人適合上這個課？</span></h3>
        <p class="rl-padding-lg text-center line-height-lg bottom-spacing">
          想嘗試程式領域的女生
          <br>想找到一起進步的夥伴
          <br>想改變生活，尋找興趣的女性
          <br>想學會如何用 HTML / CSS 切版的人
          <br>想學會 jQuery 基礎運用的人
        </p>
      </div>
      <div class="col-sm-12 col-lg-8 col-md-8 top-spacing-lg bottom-spacing-lg rl-padding-lg">
        <h3 class="text-center title"><span>創辦初衷</span></h3>
        <p>
          許多傑出的女企業家，在背後都有艱辛努力的故事，
          <br>SOGAL 共同創辦人 Pocket Sun，在不畏懼前方道路時，勇往直前，大膽的去鑽研於 VC 的世界。
          <br>
          <br>社會企業 Motherhouse 創辦人 山口繪理子，告訴大家一定要相信：「你的可能性，超越你自己的想像。」
          <br>
          <br>Facebook 營運長雪柔·桑德伯格 Sheryl Sindberg 也說過：「請多嘗試，並期待這些嘗試可以被正確完成，若帶來失望，那是因為完美才是真正的敵人。」
          <br>
          <br>她們骨子裡都有共通的想法：「只管踏上，前方道路會為我開啟。」
          <br>
          <br>在職場前進的路途中，我們不求自己是個完美的人，不強求讓所有人喜歡，更期許自己面對未來無所畏懼。
          <br>
          <br>女孩們，失戀了別嚎啕大哭，工作遇到挫折也別往肚裡吞。
          <br>妳不是一無是處，妳只是還沒發掘多面的自己。
          <br>
          <br>「當妳真心想完成某件事情，全宇宙都會聯合起來幫妳。」在這裡，所有的女孩都沒有寫過程式的相關經驗，也沒有畏懼去嘗試接觸，大家都把對方視為夥伴，一同學習、一同探索、一同互相幫助，因為她們深信，努力會有所收穫。
          <br>
          <br>「我的好夥伴呀，不要害怕，相信妳會成為更好的人，我會陪伴妳一同前進！」
          秉持著這樣的信念，五倍紅寶石為女孩們量身打造了女性專班，來帶領女孩們一步一步的完成夢想。
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Long Description -->

<!-- Start Speaker -->
<div class="speaker bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-2 col-md-2 both-spacing-lg text-center">
        <%= image_tag 'camp-girl-teacher-cat.png', alt: '講師 - 孫于婷 (Cat Sun)', class: 'img-circle' %>
      </div>
      <div class="col-sm-8 col-lg-10 col-md-10 both-spacing-lg">
        <span class="text-grey">講師</span>
        <h3>孫于婷 (Cat Sun)</h3>
        <p class="both-spacing-sm small">
        嶺東科技大學－視覺傳達設計學系 畢業
        <br>現任五倍紅寶石－前端工程師、網頁設計師
        <br>2016 Rails Girls Weekly 從零開始的網頁設計－講師
        <br>2017 Rails Girls Weekly 從零開始的網頁設計－講師
        <br>Hahow 用程式構築的繪畫世界 — CSS 繪圖 講師
        </p>
        <p>
        Cat 是一名面對未來樂觀開朗的女孩，喜歡大笑，喜歡做自己。儘管不是程式相關背景畢業的女生，但是面對程式總是展露認真又好奇的心態。
        <br>以前想要表達腦中的想法，都是用平面設計實際去繪圖，現在則是會選擇使用 CSS 這樣的魔術展現出來。
        <br>自己平時也會多嘗試使用CSS練習畫不一樣的圖案，可以學習到很多小技巧，而這些小技巧累積越多，在商業用途上有特殊需求時就會很直接的反應，切不出來的板型也會越來越少。
        <br>這樣的堅持，是因為她跨出嘗試程式領域的那一步，因此愛上了程式，喜歡上 CSS，從此，程式界也多了 Cat 的笑聲。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-lg-2 col-md-2 bottom-spacing-lg text-center">
        <%= image_tag 'camp-girl-teacher-ringo.jpg', alt: '助教 - 楊雅婷 (Ringo Yang)', class: 'img-circle' %>
      </div>
      <div class="col-sm-8 col-lg-10 col-md-10 bottom-spacing-lg">
        <span class="text-grey">助教</span>
        <h3>楊雅婷 (Ringo Yang)</h3>
        <p class="both-spacing-sm small">
        現任五倍紅寶石－前端工程師、網頁設計師
        <br>曾任非常婚禮－前端工程師、網頁設計師
        <br>經手Violet White－前端設計
        <br>BOLT Lighting－前端與網頁視覺設計
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Speaker -->

