
<!-- Start Resume Banner -->
<div class="resume-banner top-spacing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 text-center">
        <%= image_set_tag 'resume-class-sp-banner.png', { 'resume-class-sp-banner-mobile.png' => '400w', 'resume-class-sp-banner-mobile.png' => '600w', 'resume-class-sp-banner.png' => '1280w' }, sizes: '100vw' %>
      </div>
    </div>
  </div>
</div>
<!-- End Resume Banner -->
