<% if configs.present? %>
  <div class="camp-sale red-bg bottom-padding-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white">
          <h3 class="text-center top-spacing">
            <%= image_tag 'gift.png' %> <span><%= t('.sale_title') %></span>
          </h3>
          <p class="line-height-lg"><%= raw configs['sentence'] %></p>
          <% if configs['button'].present? %>
            <%= link_to configs['button']['text'], configs['button']['href'], class: "btn btn-white-border" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
