<!-- Start Tickets -->
<div id="tickets" class="tickets bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <%= raw configs %>
      </div>
    </div>
  </div>
</div>
<!-- End Training Introduction -->
