
<div class="col-sm-4 col-lg-4 col-md-4 bottom-spacing">
  <div class="speaker-wrap text-center">
    <div class="speaker-img-wrap center-block top-spacing-sm bottom-spacing-sm">
      <%= image_tag item[:img], class: "speaker-img" %>
    </div>
    <p>
      <small class="text-grey"><%= item[:name] %></small>
      <br><strong><%= item[:position] %></strong>
    </p>
    <p class="rl-padding">
      <small><%= item[:content] %></small>
    </p>
  </div>
</div>

