<section id="main_content_gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2><%= t('.latest_courses') %></h2>
        <p class="lead"><%= t('.latest_courses_detail') %></p>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
      <%= render partial: 'recent_course', collection: @recent_courses %>
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <a href="courses_grid.html" class="button_medium_outline pull-right"><%= t('.view_all_courses') %></a>
      </div>
    </div>
  </div>
  <!-- End container -->
</section>
