<section id="main_content_gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>最新課程</h2>
        <p class="lead">Lorem ipsum dolor sit amet, ius minim gubergren ad.</p>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="col-item">
          <span class="ribbon_course"></span>
          <div class="photo">
            <a href="#"><img src="img/poetry.jpg" alt="" /></a>
            <div class="cat_row"><a href="#">LITERATURE</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
          </div>
          <div class="info">
            <div class="row">
              <div class="course_info col-md-12 col-sm-12">
                <h4>Poetry course</h4>
                <p > Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo ad fierent insolens. Duo aeterno ancillae ei. </p>
                <div class="rating">
                  <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i>
                </div>
              </div>
            </div>
            <div class="separator clearfix">
              <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Subscribe</a></p>
              <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> Details</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="col-item">
          <div class="photo">
            <a href="#"><img src="img/business.jpg" alt="" /></a>
            <div class="cat_row"><a href="#">MANAGEMENT</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
          </div>
          <div class="info">
            <div class="row">
              <div class="course_info col-md-12 col-sm-12">
                <h4>Build a Business Plan</h4>
                <p > Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo ad fierent insolens. Duo aeterno ancillae ei. </p>
                <div class="rating">
                  <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
                </div>
              </div>
            </div>
            <div class="separator clearfix">
              <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Subscribe</a></p>
              <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> Details</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="col-item">
          <div class="photo">
            <a href="#"><img src="img/art.jpg" alt="" /></a>
            <div class="cat_row"><a href="#">ART</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
          </div>
          <div class="info">
            <div class="row">
              <div class="course_info col-md-12 col-sm-12">
                <h4>Impressionist</h4>
                <p > Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo ad fierent insolens. Duo aeterno ancillae ei. </p>
                <div class="rating">
                  <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                </div>
              </div>
            </div>
            <div class="separator clearfix">
              <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Subscribe</a></p>
              <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> Details</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="col-item">
          <div class="photo">
            <a href="#"><img src="img/math.jpg" alt="" /></a>
            <div class="cat_row"><a href="#">MATH</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
          </div>
          <div class="info">
            <div class="row">
              <div class="course_info col-md-12 col-sm-12">
                <h4>12 Principles</h4>
                <p > Lorem ipsum dolor sit amet, no sit sonet corpora indoctum, quo ad fierent insolens. Duo aeterno ancillae ei. </p>
                <div class="rating">
                  <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i><i class=" icon-star-empty"></i>
                </div>
              </div>
            </div>
            <div class="separator clearfix">
              <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Subscribe</a></p>
              <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> Details</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <a href="courses_grid.html" class="button_medium_outline pull-right">View all courses</a>
      </div>
    </div>
  </div>
  <!-- End container -->
</section>
