<section id="main_content">
  <div class="container">
    <div class="row add_bottom_30">
      <div class="col-md-12 text-center">
        <h2><%= t('.next_courses') %></h2>
        <%#p class="lead"><%#= t('.next_courses_detail') ></p%>
      </div>
    </div>
    <div class="row">
      <% @next_schedules.each_slice(2) do |next_schedule| %>
      <div class="col-md-6">
        <%= render partial: 'next_schedule', collection: next_schedule %>
      </div>
      <% end %>
    </div>
    <%#= render 'main_content_extra' %>
    <hr class="add_bottom_30">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/cooperation_list' %>
      </div>
    </div>
  </div>
  <!-- End container -->
</section>
