<hr>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <h4>Our team</h4>
    <p><img src="img/pic_1.jpg" alt="Pic" class="img-responsive"></p>
    <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <h4>Equiped classrooms</h4>
    <p><img src="img/pic_2.jpg" alt="Pic" class="img-responsive"></p>
    <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <h4>Enjoy classroom mates</h4>
    <p><img src="img/pic_3.jpg" alt="Pic" class="img-responsive"></p>
    <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <h4>Links</h4>
    <ul class="list_1">
      <li><a href="#">Ceteros mediocritatem</a></li>
      <li><a href="#">Labore nostrum</a></li>
      <li><a href="#">Primis bonorum</a></li>
      <li><a href="#">Ceteros mediocritatem</a></li>
      <li><a href="#">Labore nostrum</a></li>
      <li><a href="#">Primis bonorum</a></li>
    </ul>
  </div>
</div>
