<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="col-item">
    <span class="ribbon_course"></span>
    <div class="photo">
      <%= link_to image_tag(recent_course.image.thumb), recent_course %>
      <div class="cat_row"><a href="#">LITERATURE</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
    </div>
    <div class="info">
      <div class="row">
        <div class="course_info col-md-12 col-sm-12">
          <h4><%= recent_course.title %></h4>
          <div><%= sanitize recent_course.summary %></div>
          <div class="rating">
            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i>
          </div>
        </div>
      </div>
      <div class="separator clearfix">
        <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> Subscribe</a></p>
        <p class="btn-details"> <a href="course_details_1.html"><i class=" icon-list"></i> <%= t('.detail') %></a></p>
      </div>
    </div>
  </div>
</div>