<section class="tp-banner-container">
  <div class="tp-banner" >
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="4" data-masterspeed="1500" >
        <!-- MAIN IMAGE -->
        <img src="sliderimages/changingpic_bg.png" alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption skewfromrightshort customout"
          data-x="center"
          data-y="center"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1200"
          data-easing="Power4.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 2"><img src="sliderimages/changingpic_word.png" alt="" width="50%">
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption medium_bg_darkblue skewfromleft customout"
          data-x="left"
          data-y="190"
          data-hoffset="30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1500"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 6">Ruby Core
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption medium_bg_darkblue skewfromleft customout"
          data-x="left"
          data-y="245"
          data-hoffset="30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1500"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 6">Ruby on Rails
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption medium_bg_darkblue skewfromleft customout"
          data-x="left"
          data-y="300"
          data-hoffset="30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1500"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 6">Test-Driven Development
        </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption medium_bg_darkblue skewfromright customout"
          data-x="right"
          data-y="190"
          data-hoffset="-30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1800"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 8">Git Work Flow
        </div>
        <!-- LAYER NR. 5 -->
        <div class="tp-caption medium_bg_darkblue skewfromright customout"
          data-x="right"
          data-y="245"
          data-hoffset="-30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1800"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 8">Website Deployment
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption medium_bg_darkblue skewfromleft customout"
          data-x="right"
          data-y="300"
          data-hoffset="-30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1800"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 6">System Architecture
        </div>
      </li>
      <!-- SLIDE  -->
      <%#li data-transition="cube-horizontal" data-slotamount="4" data-masterspeed="1000" >
        <!-- MAIN IMAGE -->
        <img src="sliderimages/changingpic_bg.png" alt="slidebg3"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption medium_light_white skewfromrightshort customout"
          data-x="80"
          data-y="96"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="800"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 4">Enjoy
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption medium_thin_white skewfromleftshort customout"
          data-x="235"
          data-y="110"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="900"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 5">&
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption large_bold_white skewfromleftshort customout"
          data-x="80"
          data-y="152"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="300"
          data-start="1100"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 7">Improve your skills
        </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption small_thin_white  customin customout"
          data-x="80"
          data-y="240"
          data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1300"
          data-easing="Power4.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 8">Slider Revolution is the highly acclaimed<br/> slide-based displaying solution, thousands of<br/> businesses, theme developers and everyday<br/> people use and love!
        </div>
      </li%>
      <!-- SLIDE  -->
      <%#li data-transition="zoomin" data-slotamount="4" data-masterspeed="1000" >
        <!-- MAIN IMAGE -->
        <img src="sliderimages/changingpic_bg_2.png" alt="slidebg4"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 10 -->
        <div class="tp-caption large_bold_white customin customout"
          data-x="center" data-hoffset="0"
          data-y="160"
          data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1000"
          data-start="1700"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 11">Single or multi course
        </div>
        <!-- LAYER NR. 11 -->
        <div class="tp-caption mediumlarge_light_white_center customin customout"
          data-x="center" data-hoffset="0"
          data-y="bottom" data-voffset="-150"
          data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="1000"
          data-start="1900"
          data-easing="Back.easeInOut"
          data-endspeed="300"
          style="z-index: 12">Lorem ipsum dolor sit amet,<br/>
          civibus efficiantur in<br/>
          id tempor imperdiet deterruisse.
        </div>
      </li%>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</section>
