<div class="swiper-container">
  <div class="swiper-wrapper">
    <% t('site.index_swiper_imgs').each do |img| %>
      <div class="swiper-slide">
        <%= image_set_tag "index_sliders/#{img[:name]}", img[:sizes], width: '100%' %>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>
