<div class="swiper-container">
  <div class="swiper-wrapper">
    <% t('site.index_swiper_imgs').each do |src| %>
      <div class="swiper-slide">
        <%= image_tag "index_sliders/#{src}", width: '100%' %>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>
