<section class="tp-banner-container">
  <div class="tp-banner" >
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="4" data-masterspeed="1500" >
        <!-- MAIN IMAGE -->
        <img src="<%=image_url('sliderimages/changingpic_bg.png')%>" alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption skewfromrightshort customout"
          data-x="center"
          data-y="center"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500"
          data-start="1200"
          data-easing="Power4.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="on"
          style="z-index: 2"><img src="<%=image_url 'sliderimages/changingpic_word.png'%>" alt="" width="50%">
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption medium_bg_darkblue skewfromleft customout"
          data-x="left"
          data-y="190"
          data-hoffset="30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1500"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 6">Ruby Core
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption medium_bg_darkblue skewfromleft customout"
          data-x="left"
          data-y="245"
          data-hoffset="30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1500"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 6">Ruby on Rails
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption medium_bg_darkblue skewfromleft customout"
          data-x="left"
          data-y="300"
          data-hoffset="30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1500"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 6">Test-Driven Development
        </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption medium_bg_darkblue skewfromright customout"
          data-x="right"
          data-y="190"
          data-hoffset="-30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1800"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 8">Git Work Flow
        </div>
        <!-- LAYER NR. 5 -->
        <div class="tp-caption medium_bg_darkblue skewfromright customout"
          data-x="right"
          data-y="245"
          data-hoffset="-30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1800"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 8">Website Deployment
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption medium_bg_darkblue skewfromleft customout"
          data-x="right"
          data-y="300"
          data-hoffset="-30"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="800"
          data-start="1800"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="on"
          style="z-index: 6">System Architecture
        </div>
      </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</section>
