
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag 'qna-main-banner', ['400w', '600w', '1280w'], width: '100%' %>
  </div>
</div>
<!-- End Main Banner -->

<!-- Start Q&A List -->
<div class="qna-list bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div id="qa-content" class="col-sm-12 col-lg-12 col-md-12 center-block both-spacing-lg">
        <ul class="accordionPart">
          <%= render @faqs %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Q&A List -->

