<%= sub_header title: t('.title') %>

<section id="strips-course" class="shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lead add_bottom_45">若下列常見問題無法解答您的疑問或是有其它問題，歡迎您填寫<%= link_to "聯絡表單", contacts_path %>與我們聯繫，或是直接來電洽詢。</div>
      </div>
    </div>
    <hr>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render @faqs %>
      </div>
    </div>
  </div>

</section>
