
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag t('site.member_main_banner.folder'), t('site.member_main_banner.sizes'), width: "100%" %>
  </div> 
</div>
<!-- End Main Banner -->

<!-- Start Member List -->
<div class="member-list bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block both-spacing-lg">
        <% t('members').each do |member| %>
          <%= render partial: 'shared/member', locals: {
            item: {
              avatar: image_path(member[:avatar]),
              name: member[:name],
              blog_url: member[:blog],
              facebook_url: member[:facebook],
              twitter_url: member[:twitter],
              google_url: member[:google],
              github_url: member[:github],
              website_url: member[:website],
              role_text: member[:title],
              summary: "#{member[:skills]}<br>#{member[:about]}"
            }
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End Feedback Section -->

