<%= sub_header title: t('layouts.nav.space_status') %>
<section id="main_content">
  <div class="container">
    <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;hl=<%= locale %>&amp;bgcolor=%23ffffff&amp;src=idpl17abtful9id5nvp9cc3ju4%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FTaipei" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</section>