<!-- Start Terms of Service -->
<div class="about-us light-grey-bg bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block top-spacing-lg">
        <h1> <%= raw RDiscount.new(t('.title')).to_html %> </h1>
        <%= raw RDiscount.new(t('.content')).to_html %>
      </div>
    </div>
  </div>
</div>
<!-- End Terms of Service -->

