defaults: &defaults
  tenmax:
    root_id: needed_to_fill
  ga:
    id: needed_to_fill
  use_fluentd_logger: false
  force_ssl: false
  admin_path_prefix: admin
  course_about_to_begin_time: '3.days'
  posts_cate_tags:
    - 社群活動
    - 媒體報導
    - 企業合作
    - 徵才
    - 心得分享
    - 其他消息
  index_pictures:
    sizes: ['400w', '600w', '1280w', '1920w', '2560w']
    default_size: '1280w'
  alias:
    - from: reactjs
      to: /talks/react-redux-2017-1
  mailer_sender: noreply@5xruby.tw
  flowdock:
    flowdock_api_token: needed_to_fill
    flowdock_project_name: needed_to_fill
    flowdock_deploy_tags: [deploy, website]
  recaptcha:
    site_key: needed_to_fill
    secret_key: needed_to_fill
  action_mailer: &action_mailer
    default_options:
      from: '"5xruby" <noreply@5xruby.te>'
      reply_to: service@5xruby.tw
    default_url_options:
      host: 'localhost:3000'
    delivery_method: :smtp
    smtp_settings:
      address: needed_to_fill
      port: needed_to_fill
      user_name: needed_to_fill
      password: needed_to_fill
      domain: needed_to_fill
      authentication: plain
      enable_starttls_auto: true
  omniauth:
    google:
      client_id: needed_to_fill
      client_secret: needed_to_fill
    facebook:
      facebook_key: needed_to_fill
      facebook_secret: needed_to_fill
    github:
      client_id: needed_to_fill
      client_secret: needed_to_fill

development:
  <<: *defaults
  action_mailer:
    <<: *action_mailer
    delivery_method: :letter_opener
test:
  <<: *defaults
  action_mailer:
    <<: *action_mailer
    delivery_method: :test
production:
  <<: *defaults
