defaults: &defaults
  force_ssl: false
  tenmax:
    root_id: 878919477026
  ga:
    id: UA-51124505-1
  course_about_to_begin_time: '3.days'
  posts_cate_tags:
    - 社群活動
    - 媒體報導
    - 企業合作
    - 徵才
    - 心得分享
    - 其他消息
  index_pictures:
    langs: ['zh-TW', 'en', 'ja']
    sizes: ['400w', '600w', '1280w', '1920w', '2560w']
    default_size: '1280w'
development:
  <<: *defaults
  admin_path_prefix: admin
  flowdock:
    flowdock_api_token: FLOWDOCK_API_TOKEN
    flowdock_project_name: 5xruby_tw
    flowdock_deploy_tags: [deploy, website]
  recaptcha:
    site_key: SITE_KEY
    secret_key: SECRET_KEY
  recipient: tonytonyjan@gmail.com
  action_mailer:
    default_url_options:
      :host: localhost:3000
    delivery_method: :smtp
    smtp_settings:
      :address: smtp.gmail.com
      :port: 587
      :user_name: tonytonyjan@gmail.com
      :password: PASSWORD
      :authentication: plain
      :enable_starttls_auto: true

test:
  <<: *defaults

production:
  <<: *defaults
  force_ssl: true
  admin_path_prefix: a75f256c7c4624d5283f99c2e95fb08d
  http_basic_auth:
    :name: 5xruby
    :password: 5xruby
  recaptcha:
    site_key: SITE_KEY
    secret_key: SECRET_KEY
  action_mailer:
    default_url_options:
      :host: localhost:3000
    delivery_method: :smtp
    smtp_settings:
      :address: smtp.gmail.com
      :port: 587
      :user_name: tonytonyjan@gmail.com
      :password: PASSWORD
      :authentication: plain
      :enable_starttls_auto: true
