
<!-- Start Project List -->
<div class="project-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block">
        <h3 class="title text-center both-spacing-lg"><span><%= t('.title') %></span></h3>
        <div class="lecture-list">

          <%= render partial: 'showcases/list', locals: {showcases: @showcases} %>

          <div class="col-sm-12 col-lg-12 col-md-12 bottom-spacing text-right">
            <%= link_to t('.more'), showcases_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Project List -->
