<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @index_pictures.each do |ip| %>
      <div class="swiper-slide">
        <%= render ip %>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>
