
<!-- Start Feedback Section -->
<div class="feedback-section light-grey-bg bottom-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 center-block top-spacing-lg">
        <div class="swiper-container" data-autoplay="3000">
          <div class="swiper-wrapper">
            <% t('site.index.testimonials').each_with_index do |tm, idx| %>
              <div class="swiper-slide">
                <div class="col-sm-8 col-lg-8 col-md-8 center-block">
                  <%= image_tag "testimonials/#{tm[:img]}", class: 'avatar right-spacing', alt: tm[:name] %>
                  <%= tm[:content] %>
                  <br><br><span class="text-red large"><%= tm[:name] %></span>
                  <br><span class="text-grey"><%= tm[:title] %></span>
                </div>
              </div>
            <% end %>
          </div>
          <div class="normal swiper-pagination both-spacing-sm"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Feedback Section -->
