<h1><%= current_model.model_name.human %> <%= link_to t('crud.new'), {action: :new}, {class: 'btn btn-lg btn-success'} %></h1>

<% current_collection.each do |ip| %>
  <%= render ip %>
<% end %>

<%= paginate current_collection %>

