<h1><%= t('crud.edit!', resource: Admin::Activity.model_name.human) %></h1>

<%= render 'form' %>
<hr>
<div class="btn-group">
  <%= link_to t('crud.show'), current_object, class: 'btn btn-info btn-lg' %>
  <%= link_to t('action.back'), admin_activities_path, class: 'btn btn-default btn-lg' %>
</div>
