<div class="col-lg-4 col-md-6">
  <div class="col-item">
    <span class="ribbon_course"></span>
    <div class="photo">
      <%= link_to image_tag(course.image.thumb), course %>
      <div class="cat_row"><a href="#">MATH</a><span class="pull-right"><i class=" icon-clock"></i>6 Days</span></div>
    </div>
    <div class="info">
      <div class="row">
        <div class="course_info col-md-12 col-sm-12">
          <h4><%= course.title %></h4>
          <%= sanitize course.summary %>
          <div class="rating">
            <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class=" icon-star-empty"></i>
          </div>
        </div>
      </div>
      <div class="separator clearfix">
        <p class="btn-add"> <a href="apply_2.html"><i class="icon-export-4"></i> 我想報名</a></p>
        <p class="btn-details">
          <%= link_to course do %>
            <i class=" icon-list"></i> 詳細資料
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
