<div class="row">
  <div class="col-md-4">
    <div class="question_box">
      <h3>No sit debitis meliore postulant, per ex prompta alterum sanctus?</h3>
      <p>
        Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="question_box">
      <h3>Autem putent singulis usu ea, bonorum suscipit eum?</h3>
      <p>
        Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="question_box">
      <h3>Pro moderatius philosophia ad, ad mea mupercipitur?</h3>
      <p>
        Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
      </p>
    </div>
  </div>
</div>
