<h1><%= t('crud.edit!', resource: Admin::Schedule.model_name.human) %></h1>

<%= render 'form' %>
<hr>
<div class="btn-group">
  <%= link_to t('crud.show'), @admin_schedule, class: 'btn btn-info btn-lg' %>
  <%= link_to t('action.back'), admin_schedules_path, class: 'btn btn-default btn-lg' %>
</div>