
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag t('site.news_main_banner.folder'), t('site.news_main_banner.sizes'), width: "100%" %>
  </div>
</div>
<!-- End Main Banner -->

