
<!-- Start Main Banner -->
<div class="container-fluid">
  <div class="row">
    <%= image_set_tag 'news-main-banner', ['400w', '600w', '1280w'], width: '100%' %>
  </div>
</div>
<!-- End Main Banner -->

