
<!-- Start News Category -->
<div class="news-category light-grey-bg bottom-spacing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle text-grey medium" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= tags.present? ? tags.join(', ') : t('.all_categories') %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if tags.present? %>
                <li><%= link_to t('.all_categories'), posts_path %></li>
              <% end %>
              <% posts_cate_tags_exclude(tags).each do |tag_as_cate| %>
                <li><%= link_to tag_as_cate, posts_path(tags: tag_as_cate) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End News Category -->

