<div class=" box_style_1">
  <%#div class="widget" style="margin-top:15px;">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- End Search -->

  <div class="widget">
    <h4>Text widget</h4>
    <p>
      Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    </p>
  </div><!-- End widget --%>


  <div class="widget">
  <h4><%= t('.recent_post') %></h4>

    <ul class="recent_post">
      <% @recent_posts.each do |post| %>
        <li>
          <i class="icon-calendar-empty"></i> <%= l post.created_at, format: :short %>
          <div><%= link_to post.title, post %></div>
        </li>
      <% end %>
    </ul>
  </div><!-- End widget -->

  <div class="widget tags add_bottom_30">
    <h4>Tags</h4>
    <% @tags.each do |tag| %>
      <%= link_to tag.name, posts_path(tags: tag.name) %>
    <% end %>
  </div><!-- End widget -->

</div><!-- End box-sidebar -->