<section id="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1>Learn Blog</h1>
        <p class="lead boxed">Ex utamur fierent tacimates nam, his duis choro an.</p>
        <p class="lead">
          Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. 
        </p>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
  <div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">

  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <%= render 'sidebar' %>
      </aside>

      <div class="col-md-8">
        <%= render @post %>
        <hr>
        <%= render 'layouts/disqus' %>
      </div><!-- End col-md-8-->   


    </div>  <!-- End row-->
  </div><!-- End container -->
</section><!-- End main_content-->

<% content_for :append_body do %>
<%= render 'layouts/disqus_count' %>
<% end %>