<section id="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1>Learn Blog</h1>
        <p class="lead boxed">Ex utamur fierent tacimates nam, his duis choro an.</p>
        <p class="lead">
          Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. 
        </p>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
  <div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">

  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <%= render 'sidebar' %>
      </aside>

      <div class="col-md-8">
        <%= render @post %>

        <hr>

        <h4>3 comments</h4>

        <div id="comments">
          <ol>
            <li>
              <div class="avatar"><a href="#"><img src="/img/avatar1.jpg" alt=""></a></div>
              <div class="comment_right clearfix">
                <div class="comment_info">
                  Posted by <a href="#">Anna Smith</a><span>|</span> 25 apr 2019 <span>|</span><a href="#">Reply</a>
                </div>
                <p>
                  Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante.
                </p>
              </div>
              <ul>
                <li>
                  <div class="avatar"><a href="#"><img src="/img/avatar2.jpg" alt=""></a></div>

                  <div class="comment_right clearfix">
                    <div class="comment_info">
                      Posted by <a href="#">Tom Sawyer</a><span>|</span> 25 apr 2019 <span>|</span><a href="#">Reply</a>
                    </div>
                    <p>
                      Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante.
                    </p>
                    <p>
                      Aenean iaculis sodales dui, non hendrerit lorem rhoncus ut. Pellentesque ullamcorper venenatis elit idaipiscingi Duis tellus neque, tincidunt eget pulvinar sit amet, rutrum nec urna. Suspendisse pretium laoreet elit vel ultricies. Maecenas ullamcorper ultricies rhoncus. Aliquam erat volutpat.
                    </p>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="avatar"><a href="#"><img src="/img/avatar3.jpg" alt=""></a></div>

              <div class="comment_right clearfix">
                <div class="comment_info">
                  Posted by <a href="#">Adam White</a><span>|</span> 25 apr 2019 <span>|</span><a href="#">Reply</a>
                </div>
                <p>
                  Cursus tellus quis magna porta adipiscin
                </p>
              </div>
            </li>
          </ol>
        </div><!-- End Comments -->

        <h4>Leave a comment</h4>
        <form action="#" method="post">
          <div class="form-group">
            <input class="form-control style_2" type="text" name="name" value="Enter Name"/>
          </div>
          <div class="form-group">
            <input class="form-control style_2" type="text" name="mail" value="Enter Email"/>
          </div>
          <div class="form-group">
            <textarea name="message" class="form-control style_2" style="height:150px;">Message...</textarea>
          </div>
          <div class="form-group">
            <input type="reset" class=" button_medium_outline" value="Clear form"/>
            <input type="submit" class=" button_medium" value="Post Comment"/>
          </div>
        </form>

      </div><!-- End col-md-8-->   


    </div>  <!-- End row-->    
  </div><!-- End container -->
</section><!-- End main_content-->