//= require jquery-ui
//= require redactor
//= require select2
//= require highlightjs/tomorrow-night-bright
//= require select2_simple_form_compatible
//= require bootstrap-datetimepicker
//= require bootstrap-markdown.min
//= require_tree ./admin
@import "bootstrap-sprockets";
@import "bootstrap";
body{ padding-top: 70px; }
