/*
*= require font-awesome
*= require additional
*= require highlightjs/monokai
*= require_self
*/

/* applies#new: Hide forward button */
#bottom-wizard > button.forward[disabled]{
  display: none;
}

body > div.alert{
  margin-bottom: 0px;
}

/* active navbar style */
.sf-menu li.active{
  display: block;
}

ul.sf-menu li.active a{
  color:#30d9a4;
  outline:none;
}
.sf-menu ul li.active a {
  background: #30d9a4;
  color:#111;
  outline:none;
}

.sf-menu li.active{
  background: #111;
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
  color:#fff;
}

.sf-arrows > li.active > .sf-with-ul:after{
  border-top-color: #30d9a4; /* IE8 fallback colour */
}

.sf-arrows ul li.active > .sf-with-ul:after{
  border-left-color: white;
}

#main-features {
  background:#8d354d url(../img/subheader.png) repeat 0 0;
}

#testimonials {
  background: #1abc9c url(../img/praise_bg.png) repeat 0 0;
}

div.feature > p{
  color: #fcffd2;
}

#sub-header{
  background:#8d354d url(../img/subheader.png) repeat 0 0;
}

#sub-header.pattern_1{
  background:#68c3bd url(../img/subheader.png) repeat center top;
}

#sub-header-features p{
  color:#005d83;
}

a.button_medium, .button_medium {
  background: #f0895c; /* 藍色版：71a7f0 */
}

ul.submenu-col li a#active {
  background:#8d354d url(../img/arrow.png) no-repeat  96% center;
}