#main-features {
  background: #8d354d url(../img/subheader.png) repeat 0 0;
}

#testimonials {
  background: #1abc9c url(../img/praise_bg.png) repeat 0 0;
}

div.feature > p{
  color: #fcffd2;
}

#sub-header{
  background: #8d354d url(../img/subheader.png) repeat 0 0;
}

#sub-header.pattern_1{
  background: #68c3bd url(../img/subheader.png) repeat center top;
}

.img-circle-avatar {
  width: 150px;
  height: 150px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #b81939;
    border: 1px solid #b81939;
}

.swiper-pagination-bullet {
    opacity: 1;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #fff;
    background: #fff;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
