<table class="table table-striped table-bordered">
  <thead>
    <th>屬性</th>
    <th>值</th>
  </thead>
  <tbody>
    <%= tr_for @admin_interview_question, :id, :question, :answer, :sort_id, :is_online %>
  </tbody>
</table>
<div class="btn-group">
  <%= link_to t('crud.edit'), edit_admin_interview_question_path(@admin_interview_question), class: 'btn btn-info btn-lg' %>
  <%= link_to t('action.back'), admin_interview_questions_path, class: 'btn btn-default btn-lg' %>
</div>