<table class="table table-striped table-bordered">
  <thead>
    <th>屬性</th>
    <th>值</th>
  </thead>
  <tbody>
    <%= tr_for @admin_video, :id, :title, tr_speakers(@admin_video), :link, :summary, :description, :is_online %>
  </tbody>
</table>
<div class="btn-group">
  <%= link_to t('crud.edit'), edit_admin_video_path(@admin_video), class: 'btn btn-info btn-lg' %>
  <%= link_to t('action.back'), admin_videos_path, class: 'btn btn-default btn-lg' %>
</div>