
<div class="col-sm-6 col-lg-6 col-md-6 top-spacing-lg">
  <div class="col-sm-4 col-lg-4 col-md-4">
    <%= image_tag speaker.avatar.thumb, class: "avatar img-circle right-spacing" %>
  </div>
  <div class="col-sm-8 col-lg-8 col-md-8">
    <h3 class="bottom-spacing-sm"><%= t('speakers.index.title') %></h3>
    <strong><%= speaker.name %></strong>
    <br>
    <%= speaker_summary speaker %>
  </div>
</div>

