<div class="media">
  <div class="pull-right">
  <%= image_tag speaker.avatar.thumb, class: 'img-circle', alt: speaker.name, width: '68' %>
  </div>
  <div class="media-body">
    <h5 class="media-heading"><%= speaker.name %></h5>
    <p><%= speaker_summary speaker %></p>
  </div>
</div>