<section id="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1><%= t('.title') %></h1>
        <p class="lead boxed "><%= t('.subtitle') %></p>
        <p class="lead"><%= t('.summary') %></p>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
  <div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="speakers">
  <div class="container">
    <div class="row">
      <%= render @speakers %>
    </div>
  </div>
</section>
