<%= sub_header title: t('.title'), lead: t('.lead') %>

<section id="speakers">
  <div class="container">
    <% @speakers.each_slice(3) do |speakers| %>
    <div class="row">
      <%= render speakers %>
    </div>
    <% end %>
  </div>
</section>
