<div class="col-md-12 text-center">
  <h2><%= t('.cooperations') %></h2>
</div>
<p id="cooperations">
  <img src="/sponsors/vpon.png" />
  <img src="/sponsors/accuvally.png" />
  <img src="/sponsors/pop.png" />
  <a href="http://dappei.com/" target="_blank"><img src="/sponsors/dappei.png" /></a>
  <img src="/sponsors/bhuntr.png" />
  <a href="https://5fpro.com/" target="_blank" title="5FPRO 伍樓專業"><img src="/sponsors/5fpro.png" alt="5FPRO 伍樓專業" /></a>
  <img src="/sponsors/itrue.png" />
  <img src="/sponsors/makerbar.png" />
  <img src="/sponsors/goldenio.png" />
</p>
