<div class="col-md-12 text-center">
  <h2><%= t('.cooperations') %></h2>
</div>
<p id="cooperations">
  <img src="/sponsors/vpon.png" />
  <img src="/sponsors/accuvally.png" />
  <img src="/sponsors/pop.png" />
  <img src="/sponsors/dappei.png" />
  <img src="/sponsors/bhuntr.png" />
  <img src="/sponsors/5fpro.png" />
  <img src="/sponsors/itrue.png" />
  <img src="/sponsors/makerbar.png" />
</p>
