<div class="col-md-3 col-sm-3">
  <h4>課程</h4>
  <ul>
    <li><a href="course_details_1.html">Git</a></li>
    <li><a href="course_details_1.html">Ruby Core</a></li>
    <li><a href="course_details_1.html">Ruby on Rails</a></li>
  </ul>
</div><!-- End col-md-4 -->
