<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Subscribe to our Newsletter for latest news.</h3>
        <div id="message-newsletter"></div>
        <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
          <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control">
          <button id="submit-newsletter" class=" button_outline"> Subscribe</button>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <div class="container" id="nav-footer">
    <div class="row text-left">
      <div class="col-md-3 col-sm-3">
        <h4>Browse</h4>
        <ul>
          <li><a href="prices_plans.html">Prices</a></li>
          <li><a href="courses_grid.html">Courses</a></li>
          <li><%= link_to t('.blog'), posts_path %></li>
          <li><a href="contacts.html">Contacts</a></li>
        </ul>
      </div><!-- End col-md-4 -->
      <div class="col-md-3 col-sm-3">
        <h4>Next Courses</h4>
        <ul>
          <li><a href="course_details_1.html">Biology</a></li>
          <li><a href="course_details_2.html">Management</a></li>
          <li><a href="course_details_2.html">History</a></li>
          <li><a href="course_details_3.html">Litterature</a></li>
        </ul>
      </div><!-- End col-md-4 -->
      <div class="col-md-3 col-sm-3">
        <h4>About Learn</h4>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="apply_2.html">Apply</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="register.html">Register</a></li>
        </ul>
      </div><!-- End col-md-4 -->
      <div class="col-md-3 col-sm-3">
        <ul id="follow_us">
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class=" icon-google"></i></a></li>
        </ul>
        <ul>
          <li><strong class="phone">+0034 43244 44</strong><br><small>Mon - Fri / 9.00AM - 06.00PM</small></li>
          <li>Questions? <a href="#">questions@domain.com</a></li>
        </ul>
      </div><!-- End col-md-4 -->
    </div><!-- End row -->
  </div>
  <div id="copy_right">© 1998-2014</div>
</footer>