<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <a href="/" id="logo">Learn</a>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <div class=" pull-right"><a href="login.html" class="button_top" id="login_top">Sign in</a> <a href="apply_2.html" class="button_top hidden-xs" id="apply">Apply now</a></div>
        <ul id="top_nav" class="hidden-xs">
          <li><%= link_to t('.about'), about_path %></li>
          <li><a href="apply.html">Wizard Apply</a></li>
          <li><a href="register.html">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>