<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="mobnav-btn"></div>
        <ul class="sf-menu">
          <li>
            <%= link_to t('.home'), root_path %>
            <div class="mobnav-subarrow">
            </div>
            <ul>
              <li><a href="/">LayerSlider version</a></li>
              <li><a href="index_2.html">Subscription version</a></li>
              <li><a href="index_3.html">With Ajax Search bar</a></li>
              <li><a href="index_4.html">With Video</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Course</a>
            <div class="mobnav-subarrow"></div>
            <ul>
              <li><a href="courses_grid.html">Courses grid</a></li>
              <li><a href="courses_list.html">Courses list</a></li>
              <li><a href="course_details_1.html">Course details v1</a></li>
              <li><a href="course_details_2.html">Course details v2</a></li>
              <li><a href="course_details_3.html">Course details v2</a></li>
              <li><a href="course_timeline.html">Course timeline</a></li>
            </ul>
          </li>
          <li><a href="prices_plans.html">Prices &amp; Plans</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li>
            <a href="#">Pages</a>
            <div class="mobnav-subarrow"></div>
            <ul>
              <li><a href="/about">About us</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog_post.html">Blog post</a></li>
              <li><a href="course_timeline.html">Timeline</a></li>
              <li><a href="apply.html">PHP working wizard apply</a></li>
              <li><a href="apply_2.html">PHP working apply</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Register</a></li>
            </ul>
          </li>
          <li><%= link_to t('.contacts'), contacts_path %></li>
        </ul>

        <div class="col-md-4 pull-right hidden-sm hidden-xs">
          <div id="sb-search" class="sb-search">
            <form>
              <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"></span>
            </form>
          </div>
        </div><!-- End search -->
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</nav>