<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class='col-md-offset-2 col-md-8 text-center'>
        <h2>What they say</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">
            <!-- Quote start -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img class="img-circle" src="img/testimonial_victor.jpg" alt="Victor Lam">
                  </div>
                  <div class="col-sm-9">
                    <p>
                      Programmer 最有價值的是經驗值，「五倍紅寶石」的導師都是社群內數一數二的資深 Rubyist，由他們來帶領學員一探 Ruby 世界的神奇之處，實在是最佳選擇。
                    </p>
                    <small>Victor Lam，EZTABLE 香港總經理，Full Stack Developer，Entrepreneur，大學創業計劃導師。5 年 Ruby 經驗。</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
